# Папки для среды разработки в репе не нужны
.vscode/
.idea/
# Папка с виртуальной средой тоже
venv/
# Папки с большими файлами тем более
audios/
videos/

# Переменные среды вообще по дефолту не стоит оставлять тут
.env

# Ну и на всякий случай сами файлики
*.wav
*.mp4
*.3gpp
*.mp3
